*{margin: 0; padding: 0; box-sizing: border-box;}
header{
    height: 90px;
}
.logo{
    margin: 22px 98px;
} .vector{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, #00FFF0, #0568DF, #0652DD);
} .objectsofvector{
    margin-top: 195.13px;
    display: flex;
    flex-direction: column;
    max-width: 1077px;

} .text1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 95px;
} .text2{
    font-size: 20px;
    font-weight: 600;
    width: 336px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 95px;
} a{
text-decoration: none;
} .button{
    display: flex;
    width: 187px;
    height: 45.671px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    border: none;

    color: #1394FF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}.div-button{
    display: flex;
    gap: 10px;
    margin: 10.51px 94px;
}.group{
    width: 660.18px;
    height: 787.024px;
    margin-top: 79.68px;
    margin-right: 71.82px;
}.text3{
    margin-top: 90px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #000;
}


.text14{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-left: 96px;
    margin-top: 200px;
    margin-bottom: 32px;
} 

.conteiner{
    max-width: 1077px;
    margin: auto;
    margin-top: 123px;
} .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30.53px;
    
} .teextupinput{
    color: #000;
font-size: 10.49px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
line-height: 150%;
} .card{
    width: 398px;
    height: 148px;
    background-image: linear-gradient(to left, #0652DD, #53B1FF);
    border-radius: 13px;
    text-align: center;
}  .text4{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    padding-top: 20px;

}.text5{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    align-items: center;
    color: #fff;
} .textup{
    display: flex;
    flex-direction: column;
}.span{
align-items: center;
} .othertexts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;



    display: flex;
    justify-content: space-around;
} .content_cal{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
} .input{
    display: flex;
  

}.div-input{
    background: #000;
    color: #fff;
    display: flex;
    text-align: center;
    display: flex;
    width: 180.465px;
    height: 39.923px;
    padding: 10.49px 34.966px;
    justify-content: center;
    align-items: center;
    width: 163.465px;
    height: 39.923px;
    border-radius: 0px 8.741px 8.741px 0px;
    font-size: 13.112px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}.allinputs{
    width: 141px;
    border-radius: 8.741PX  0px 0px 8.741PX;
    border: 1.748px solid #898989;
} .button1{
    display: inline-flex;
    height: 36px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #80ADFF;
    border: none;
    border: 0;    
    margin-top: 33.08px;
    cursor: pointer;
}.button1:hover{
background: #9fbffa;
}.container1{
    height: 100%;
    background: #0652DD;
    text-align: center;
    margin-top: 31px; 
}
